<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570818696346-h1kkjack1v669b2d61i89pn7mrmqkhpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570818696346-h1kkjack1v669b2d61i89pn7mrmqkhpu</string>
	<key>API_KEY</key>
	<string>AIzaSyC-m072uiGVaBt-f-XKOzDIpIpB0mGc9Vg</string>
	<key>GCM_SENDER_ID</key>
	<string>570818696346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-6bbac</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-6bbac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570818696346:ios:3c9b4ea04eebbc0073fb23</string>
</dict>
</plist>